.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10rem;
}

.middleActions {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.translationActions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.swapButton,
.translateButton,
.historyButton {
  max-width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.translateButton,
.historyButton{
  width: auto; 
  height: auto; 
  padding: 12px 24px; 
  display: flex;
  align-Items: center;
  justify-Content: center;
  border: 1px solid transparent; 
  border-Radius: 4px; 
}

.translationContainer {
  position: relative;
}

.textarea {
  margin-top: 20px;
}

.copyButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  background: none;
}
